<header>
  <ul>
    <img
    class="logo"
    src="./assets/image/favicon.ico"
    alt="logo"
    width="40px"
  />
    <li><a [routerLink]="ROUTER_APP.INICIO">Inicio</a></li>
    <li><a [routerLink]="ROUTER_APP.CLIENTES">Clientes</a></li>
    <li><a [routerLink]="ROUTER_APP.USUARIOS">Usuarios</a></li>
    <li><a [routerLink]="ROUTER_APP.SERVICIOS">Servicios</a></li>
    <li><a [routerLink]="ROUTER_APP.ACERCA_DE">Acerca de </a></li>
    <li><a [routerLink]="ROUTER_APP.CONTACTO">Contacto</a></li>
    <li> <a (click)="cerrarSesion()" class="btn btn-outline-danger">
      <b>Cerrar sesión</b></a>
    </li>
  


  </ul>
</header>
