
<div class="fondo">
<h1> Primer Proyecto</h1>
<section >

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
   Fugit ad consequuntur, suscipit ut vero excepturi accusamus voluptatum
   repudiandae, perferendis quo laudantium nihil consectetur voluptas ipsa
   blanditiis reprehenderit, autem dolor unde?Expedita facere 
   corporis suscipit quae architecto consequatur, ex odit rerum voluptatem 
   quasi consequuntur omnis molestias distinctio dolorem eveniet vero aliquid
   veniam placeat nesciunt voluptate non error dicta! Debitis, iusto et.  
   Asperiores autem molestiae praesentium officia optio qui 
   tenetur! Sequi dignissimos, corporis unde repellat a tempore, sit debitis, 
   suscipit libero iusto eligendi! Quae nihil blanditiis dolorum quisquam 
   expedita, libero ducimus commodi?</p>

</section>
</div>
    
<section id="video" style="text-align:center;">
  <iframe  width="560" height="315" src="https://www.youtube.com/embed/4eNBM17tkjI?si=LcPG3_Wb06E7znkp" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-pictureng; web-share" allowfullscreen></iframe>
 <br>
</section>  

<section>
  <span><h2>Sumatoria es igual a: {{5+3}} </h2>  </span>
  <button (click)="mostrarModal()">Mostrar modal</button>
  
</section>


<app-persona></app-persona>



